.container-fluid{
    background-color: #0cb4bd
}
.navbar-brand ul li{
    justify-content: space-between;
}
.foot{
    display: flex;
    background-color: #484848;
    color: #ffffff;
    height: 25vh;
    padding-top: 25px;
    justify-content: space-between;
}
.foot ul{
    display: flex;
    list-style: none;
    text-align: center;
   
}
